.browse{
    padding: 3.75rem 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    height: 100vh;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.image-container>span{
    font-weight: 600;
    color: var(--black-600);
    font-size: 1.25rem;
}

@media screen and (max-width:1024px){
    .browse{
        padding: 2rem 3rem;
    }
}